{#********************************************************************************
  * @Project    Katyargeor Framework for business
  * @Version    1.0.0
  *
  * @Copyright  (C) 2025 Kataev Yaroslav Georgievich 
  * @E-mail     yaroslaw74@gmail.com
  * @License    GNU General Public License version 3 or later; see LICENSE.md
  ********************************************************************************#}
{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('fortawesome/css/svg-with-js.min.css') }}">
	<link rel="stylesheet" href="{{ asset('bootstrap-icons/bootstrap-icons.min.css') }}">
	<link rel="stylesheet" href="{{ asset('css/main.css') }}">
	<link rel="stylesheet" href="{{ asset('css/sidebars.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('fortawesome/js/all.min.js') }}" data-auto-replace-svg="nest"></script>
	<script src="{{ asset('js/sidebars.js') }}"></script>
{% endblock %}

{% block body %}
    <header class="container-fluid d-flex flex-row justify-content-between p-0 bg-body-tertiary">
		<div class="container d-flex flex-row p-0">
			<a href="#" class="m-1"><img alt="" src="{{ asset('icon/kyg.png') }}" class="items"></a>
			<div class="text-nowrap align-self-center text-primary m-1 ps-3"><h5>Katyargeor Framework for Business</h5></div>
		</div>
		<div class="input-group ps-3 m-1">
			<input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
			<div class="input-group-append">
				<button class="btn btn-primary" type="button"><i class="fas fa-search fa-sm"></i></button>
			</div>
		</div>
		<div class="container d-flex flex-row justify-content-end p-0">
			<div class="m-1 ps-3">
				<a href="#"><i class="fa-solid fa-calendar-days fa-2xl"></i></a>
			</div>
			<div class="m-1 ps-3">
				<a href="#" class="fa-layers fa-2xl" data-bs-toggle="dropdown">
					<i class="fa-solid fa-envelope"></i>
					<span class="fa-layers-counter"><h1>+10</h1></span>
				</a>
				<ul class="dropdown-menu dropdown-menu-end">
					<li class="dropdown-header">
						You have 4 new notifications
						<a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
					</li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>Lorem Ipsum</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>30 min. ago</p>
                        </div>
                    </li>
                    <li><hr class="dropdown-divider"></li>
            		<li class="">
              			<i class="bi bi-x-circle text-danger"></i>
              			<div>
                			<h5>Atque rerum nesciunt</h5>
                			<p>Quae dolorem earum veritatis oditseno</p>
                			<p>1 hr. ago</p>
              			</div>
            		</li>
		            <li><hr class="dropdown-divider"></li>
		            <li class="notification-item">
              			<i class="bi bi-check-circle text-success"></i>
              			<div>
                			<h5>Sit rerum fuga</h5>
                			<p>Quae dolorem earum veritatis oditseno</p>
                			<p>2 hrs. ago</p>
              			</div>
            		</li>
		            <li><hr class="dropdown-divider"></li>
		            <li class="">
              			<i class="bi bi-info-circle text-primary"></i>
              			<div>
                			<h5>Dicta reprehenderit</h5>
                			<p>Quae dolorem earum veritatis oditseno</p>
                			<p>4 hrs. ago</p>
              			</div>
            		</li>
		            <li><hr class="dropdown-divider"></li>
            		<li class="dropdown-footer"><a href="#">Show all notifications</a></li>
	        	</ul><!-- End Notification Dropdown Items -->
			</div>
			<div class="m-1 ps-3">
				<a href="#" class="fa-layers fa-2xl" data-bs-toggle="dropdown">
					<i class="fa-solid fa-bell"></i>
					<span class="fa-layers-counter"><h1>23</h1></span>
				</a>
				<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            		<li class="dropdown-header">
              			You have 3 new messages
              			<a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            		</li>
            		<li><hr class="dropdown-divider"></li>
		            <li class="">
        		    	<a href="#">
                			<img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                			<div>
                  				<h5>Maria Hudson</h5>
                  				<p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  				<p>4 hrs. ago</p>
                			</div>
              			</a>
            		</li>
            		<li><hr class="dropdown-divider"></li>
		            <li class="">
              			<a href="#">
                			<img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
                			<div>
                  				<h5>Anna Nelson</h5>
                  				<p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  				<p>6 hrs. ago</p>
                			</div>
              			</a>
            		</li>
            		<li><hr class="dropdown-divider"></li>
		            <li class="">
              			<a href="#">
                			<img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
                			<div>
                  				<h5>David Muldon</h5>
                  				<p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  				<p>8 hrs. ago</p>
                			</div>
              			</a>
            		</li>
            		<li><hr class="dropdown-divider"></li>
		            <li class="dropdown-footer">
              			<a href="#">Show all messages</a>
            		</li>
          		</ul><!-- End Messages Dropdown Items -->
			</div>
			<div class="m-1 ps-3">
				<a class="d-flex align-items-center dropdown-toggle pe-0" href="#" data-bs-toggle="dropdown">
					<i class="fa-solid fa-circle-user fa-2xl"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            		<li class="dropdown-header">
              			<h6>Kevin Anderson</h6>
              			<span>Web Designer</span>
            		</li>
            		<li><hr class="dropdown-divider"></li>
		            <li>
              			<a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                			<i class="bi bi-person"></i>
                			<span>My Profile</span>
              			</a>
            		</li>
            		<li><hr class="dropdown-divider"></li>
            		<li>
              			<a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                			<i class="bi bi-gear"></i>
                			<span>Account Settings</span>
              			</a>
            		</li>
            		<li><hr class="dropdown-divider"></li>
		            <li>
              			<a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                			<i class="bi bi-question-circle"></i>
                			<span>Need Help?</span>
              			</a>
            		</li>
            		<li><hr class="dropdown-divider"></li>
		            <li>
              			<a class="dropdown-item d-flex align-items-center" href="#">
                			<i class="bi bi-box-arrow-right"></i>
                			<span>Sign Out</span>
              			</a>
            		</li>
	          	</ul><!-- End Profile Dropdown Items -->
			</div>
    		<div class="dropdown bd-mode-toggle m-1 ps-3">
      			{% include 'button.html.twig' %}
    		</div>
		</div>
	</header>
	<main class="container-fluid d-flex p-0 flex-row bg-body-tertiary">
		<div class="flex-shrink-0 p-1 col-2 bg-primary-subtle">
    		<div align="center" class="pb-1 mb-1">
				<i class="bi bi-bootstrap-fill" style="font-size: 2rem"></i>
			</div>
    		<ul class="list-unstyled ps-0 ">
      			<li class="mb-1">
        			<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
						<i class="fa-solid fa-house"></i>
          				<span class="text-primary-emphasis ms-1">Home</span>
        			</button>
        			<div class="collapse" id="home-collapse">
          				<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            				<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
            				<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Updates</a></li>
            				<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Reports</a></li>
          				</ul>
        			</div>
      			</li>
      			<li class="mb-1">
        			<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          				Dashboard
        			</button>
        			<div class="collapse" id="dashboard-collapse">
          				<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            				<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
            				<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Weekly</a></li>
            				<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Monthly</a></li>
            				<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Annually</a></li>
          				</ul>
        			</div>
      			</li>
      			<li class="mb-1">
        			<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          				Orders
        			</button>
        			<div class="collapse" id="orders-collapse">
          				<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            				<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">New</a></li>
            				<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Processed</a></li>
            				<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Shipped</a></li>
            				<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Returned</a></li>
          				</ul>
        			</div>
      			</li>
      			<li class="mb-1">
        			<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          				Account
        			</button>
        			<div class="collapse" id="account-collapse">
          				<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            				<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">New...</a></li>
            				<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Profile</a></li>
            				<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Settings</a></li>
            				<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Sign out</a></li>
          				</ul>
        			</div>
      			</li>
    		</ul>
  		</div>
		<div class="d-flex col-8 p-1 bg-body-secondary text-body-emphasis">content</div>
		<div class="d-flex col-2 p-1 bg-info-subtle text-info-emphasis">mesage</div>
	</main>
	<footer class="container-fluid d-flex flex-row justify-content-between bg-body-tertiary p-0">
		<div class="align-self-center bg-light-subtle rounded-3">
			{% include 'simfony.swg.twig' %}
		</div>
		<div class="align-self-center text-danger"><h6>danger</h6></div>
		<div class="text-nowrap align-self-center text-dark-emphasis pe-3" lang="en"><h6><strong>&copy; 2025 Kataev Yaroslav</strong></h6></div>
	</footer>
	<script src="{{ asset('js/main.js') }}"></script>
{% endblock %}