{#********************************************************************************
  * @Project    Katyargeor Framework for business
  * @Version    1.0.0
  *
  * @Copyright  (C) 2025 Kataev Yaroslav Georgievich 
  * @E-mail     yaroslaw74@gmail.com
  * @License    GNU General Public License version 3 or later; see LICENSE.md
  ********************************************************************************#}
<!DOCTYPE html>
<html lang="{{ app.locale }}" data-bs-theme="auto" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex, nofollow">
		<meta name="autor" content="Kataev Yaroslav Georgievich">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Katyargeor Framework for Business</title>
        <link rel="icon" sizes="48X48" href="{{ asset('favicon.ico') }}">
        <link rel="icon" sizes="32X32" href="{{ asset('favicon/favicon-32x32.png') }}" type="image/png">
		<link rel="icon" sizes="256X256" href="{{ asset('favicon/favicon-256x256.png') }}" type="image/png">
		<link rel="icon" sizes="512X512" href="{{ asset('favicon/favicon-512x512.png') }}" type="image/png">
		<link rel="icon" size="1024X1024" href="{{ asset('favicon/favicon-1024x1024.png') }}" type="image/png">
		<link rel="icon" sizes="any" href="{{ asset('favicon/favicon.svg') }}" type="image/svg+xml">
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/button.css') }}">
        {% block stylesheets %}{% endblock %}
        {{ importmap('app') }}
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('js/color-modes.js') }}"></script>
    </head>
    <body>
        {% include 'button.svg.twig' %}
        {% block body %}{% endblock %}
    </body>
</html>
