{#********************************************************************************
  * @Project    Katyargeor Framework for business
  * @Version    1.0.0
  *
  * @Copyright  (C) 2025 Kataev Yaroslav Georgievich 
  * @E-mail     yaroslaw74@gmail.com
  * @License    GNU General Public License version 3 or later; see LICENSE.md
  ********************************************************************************#}
{% extends 'base.html.twig' %}

{% block title %}Katyargeor Framework for Business
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('jquery-ui/themes/base/base.css') }}">
	<link rel="stylesheet" href="{{ asset('jquery-ui/dist/themes/start/theme.css') }}">
	<link rel="stylesheet" href="{{ asset('jquery-ui/dist/themes/start/jquery-ui.min.css') }}">
	<link rel="stylesheet" href="{{ asset('fortawesome/css/svg-with-js.min.css') }}">
	<link rel="stylesheet" href="{{ asset('bootstrap/dist/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('bootstrap-icons/font/bootstrap-icons.min.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('jquery/dist/jquery.min.js') }}"></script>
	<script src="{{ asset('jquery-ui/dist/jquery-ui.min.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/version.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/jquery-patch.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/plugin.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/widget.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/unique-id.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/data.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/disable-selection.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/effect.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/focusable.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/form.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/form-reset-mixin.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/ie.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/jquery-var-for-color.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/keycode.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/labels.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/position.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/safe-active-element.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/safe-blur.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/scroll-parent.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/tabbable.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/i18n/datepicker-ru.js') }}"></script>
	<script src="{{ asset('jquery-ui/ui/effects/effect-blind.js') }}"></script>
	<script src="{{ asset('fortawesome/js/fontawesome.min.js') }}"></script>
	<script src="{{ asset('fortawesome/js/all.min.js') }}"></script>
	<script src="{{ asset('bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}

{% block body %}
	<header class="container-fluid d-flex flex-column">
		{% block header %}{% endblock %}
	</header>
	<main class="container-fluid d-flex flex-column">
		{% block main %}{% endblock %}
	</main>
	<footer class="container-fluid d-flex flex-row justify-content-between">
		<div class="align-self-center bg-light-subtle rounded-3">
			{{ include('simfony.swg.twig') }}
		</div>
		<div class="align-self-center text-warning-emphasis">
			<h6>
				{% block error %}{% endblock %}
			</h6>
		</div>
		<div class="text-nowrap align-self-center" lang="en">
			<h6>
				<strong>&#169; 2025 Kataev Yaroslav</strong>
			</h6>
		</div>
	</footer>
	{% block endbody %}{% endblock %}
{% endblock %}
